<!-- Basic Interpreter Stuff -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- General Info -->
<title>Celebraphone</title>
<meta name="description" content="Talk with a Celebrity">
<meta name="author" content="Matt Lewis">

<!-- Open Graph -->
<meta property="og:url" content="https://celebraphone.io/" />
<meta property="og:title" content="Celebraphone" />
<meta property="og:image" content="<%= static_path(@conn, "/assets/logo.png") %>" />
<meta property="og:description" content="Talk with a Celebrity" />

<!-- Twitter -->
<meta property="twitter:title" content="Celebraphone" />
<meta property="twitter:description" content="Talk with a Celebrity" />

<!-- Microsoft -->
<meta name="application-name" content="Celebraphone" />

<!-- Style stuff -->
<link rel="shortcut icon" href="<%= static_path(@conn, "/favicon.ico") %>" type="image/x-icon" />
<%= if Mix.env == :prod do %>
  <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>" />
<% else %>
  <link rel="stylesheet" href="http://localhost:8080/css/app.css" />
<% end %>

<!-- Font Awesome -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous" />

<%= if Mix.env == :prod do %>
<!-- Google tags -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-101436618-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-101436618-2');
</script>
<% end %>
