<%= if Mix.env == :prod do %>
  <script type="text/javascript" src="<%= static_path(@conn, "/js/manifest.js") %>"></script>
  <script type="text/javascript" src="<%= static_path(@conn, "/js/vendor.js") %>"></script>
  <script type="text/javascript" src="<%= static_path(@conn, "/js/app.js") %>"></script>
<% else %>
  <script type="text/javascript" src="<%= static_path(@conn, "/js/bundle.js") %>"></script>
<% end %>
