shape_predictor_68_face_landmarks.dat
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
haarcascade_frontalface_alt2.xml
face_replace.data
face_replace.js
face_replace.wasm
.DS_Store
CopyOfCMakeCache.txt
dist
.env