<!DOCTYPE html>
<html lang="en-us">
    <head>
        <%= render CelebraphoneWeb.SharedView, "meta.html", assigns %>
    </head>
  <body>
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <main role="main">
          <%= render @view_module, @view_template, assigns %>
      </main>
      <%= render CelebraphoneWeb.SharedView, "scripts.html", assigns %>
  </body>
  <footer>
  </footer>
</html>
