body {
    text-align: center;
}

h1 {
    font-size: 2.5em;
    padding: .5em;
}

#video-out {
    border-radius: 2em;
}

#output {
    border-radius: 2em;
}

.controls {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.controls button {
    margin: 1em;
    font-size: 1.5em;
    padding: .5em;
}
