<template>
    <footer>
        <p>
            Made with {{ emoji }} by
            <a href="https://mattmatters.io">Matt Lewis</a>
        </p>
        <a href="https://gitlab.com/mattmatters/celebraphone">
            <i class="fab fa-gitlab" aria-hidden="true"></i>
        </a>
    </footer>
</template>

<script>

 // Rotate the emoji displayed
 const EMOJI = [
     '\ud83c\udf2d', // Hot Dog
     '\ud83c\udf63', // Sushi
     '\ud83c\udf56', // Meat on Bone
     '\ud83c\udf57', // Poultry Leg
     '\ud83e\udd5c', // Peanuts
     '\ud83c\udf59', // Rice Ball
     '\ud83c\udf2f', // Burrito
     '\ud83c\udf69', // Doughnut
     '\ud83e\uddc0', // Cheese Wedge
 ];

 export default {
     name: 'Credits',
     data() {
         return {
             emoji: EMOJI[Math.floor(Math.random()*EMOJI.length)],
         };
     },
 };
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
 footer {
     text-align: center;
 }
</style>
