<!-- The magic happens here -->
<template>
    <div v-show="hasMedia">
        <canvas hidden ref="faceCanvas" />
        <video hidden ref="video" id="video" width="300" height="300" autoplay />
        <div class="video-thang" v-show="videoUp && !faceUp">
            <canvas ref="videoOut" />
        </div>
        <ul>
            <li class="personal-face" v-show="faceUp">
                <canvas ref="output" width="300" height="300" v-show="faceUp" />
                <p>{{ name }}</p>
            </li>
            <li v-for="user in users">
                <p>{{ user.user_name }}</p>
            </li>
        </ul>
    </div>
</template>

<script>
 import { mapGetters, mapState } from 'vuex'
 import types from '../store/types';
 import { USER_ID } from '../constants';

 export default {
     name: 'Face',
     data() {
         return {};
     },
     mounted() {
         if (!this.hasMedia) {
             return;
         }

         navigator.mediaDevices.getUserMedia({ video: true }).then(stream => {
             this.$refs.video.srcObject = stream;
             this.$refs.video.play();
             this.$store.commit(types.SET_VIDEO_APPROVED, true);
             this.$store.commit(types.SET_VIDEO_CB, this.getFrameFunc());
             this.$store.commit(types.SET_OUTPUT_CB, this.setOutFunc());
             this.$store.commit(types.GET_SRC_IMAGE_CB, this.getSrcFunc());
             this.$store.commit(types.SET_SRC_IMAGE_CB, this.setSrcFunc());

             const { width, height } = this.$refs.video;

             this.$store.commit(types.SET_MEDIA_STREAM, stream);
             this.$refs.videoOut.width = width;
             this.$refs.videoOut.height = height;
             let context = this.$refs.videoOut.getContext('2d');
             context.translate(width, 0);
             context.scale(-1, 1);

             setInterval(()  => {
                 context.fillRect(0, 0, width, height);
                 context.drawImage(this.$refs.video, 0, 0, width, height);
             }, 300);

             this.$store.dispatch(types.GET_SRC_IMG);
             this.$store.dispatch(types.GET_AUDIO_STREAM);
             this.$store.commit(types.SET_CANVAS_STREAM, this.getStream());
         });
     },
     computed: {
         ...mapState({
             hasMedia: state => state.hasMedia,
             name: state => state.user.name,
             videoUp: state => state.video.videoApproved,
             wasmStart: state => state.video.workerUp,
             faceUp: state => state.video.wasmRunning,
             users: (state) => {
                 const { users } = state.lobby;
                 const keys = Object.keys(users);
                 let stuff = []
                 for (let i = 0; i < keys.length; i++) {
                     if (users[keys[i]].metas.length) {
                         stuff.push(users[keys[i]].metas[0]);
                     }
                 }
                 return stuff;
             },
         }),
     },
     /* watchers: {
      *     ...mapState({
      *
      *     })
      * } */
     methods:{
         setOutFunc () {
             let target = this.$refs.output.getContext('2d');
             return (image) => {
                 target.clearRect(0, 0, image.width, image.height);
                 target.putImageData(image, 0, 0);
             }
         },
         getVideoFrame () {
             const con = this.$refs.videoOut.getContext('2d');
             const { width, height } = this.$refs.video;
             return con.getImageData(0, 0, width, height);
         },
         getFrameFunc () {
             const con = this.$refs.videoOut.getContext('2d');
             const { width, height } = this.$refs.video;

             return () => con.getImageData(0, 0, width, height);
         },
         setSrcFunc () {
             return (image) => {
                 let con = this.$refs.faceCanvas.getContext('2d');
                 this.$refs.faceCanvas.width = image.width;
                 this.$refs.faceCanvas.height = image.height;
                 con.drawImage(image, 0, 0 );
             };
         },
         getSrcFunc () {
             return () => {
                 const { width, height } = this.$refs.faceCanvas;
                 let con = this.$refs.faceCanvas.getContext('2d');

                 return con.getImageData(0, 0, width, height);
             };
         },
         getStream () {
             return this.$refs.output.captureStream();
         },
     },
 };

</script>

<style scoped>
 video {
     border-radius: 2em;
 }
 .video-thang {
     text-align: center;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
 }
 ul {
     list-style: none;
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
 }
. personal-face {
    text-align: center;
 }
</style>
