<template>
    <transition name="fade">
        <div v-show="showForm && faceUp">
            <h4><i class="fas fa-phone"></i> Join a video chat</h4>
            <form @submit.prevent="handleSubmit">
                <label>
                    Name:
                    <input :value="name" @input="updateName" type="text" placeholder="Make a username" />
                </label>
                <label>
                    Lobby Code
                    <input :value="lobby" @input="updateLobby" type="text" placeholder="Enter room code" />
                </label>
                <input type="submit" value="Hi Ho!" />
            </form>
        </div>
    </transition>
</template>

<script>
 import { mapGetters, mapState } from 'vuex'
 import videoState from '../store/constants';

 export default {
     name: 'Form',
     computed: {
         ...mapState({
             name: state => state.user.name,
             lobby: state => state.lobby.id,
             showForm: state => state.user.edit,
             faceUp: state => state.video.status === videoState.FACE_UP,
         }),
     },
     methods: {
         updateName (e) {
             this.$store.commit('setName', e.target.value);
         },
         updateLobby (e) {
             this.$store.commit('setLobby', e.target.value);
         },
         handleSubmit (e) {
             this.$store.commit('toggleSetup');
         }
     },
     data() {
         return {
             title: 'Celebraphone',
         };
     },
 };
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
 form {
     display: flex;
     flex-direction: row;
     justify-content: space-around;
 }
 h4 {
     text-align: center;
 }
 .fade-enter-active, .fade-leave-active {
     transition: opacity .5s;
 }
 .fade-enter, .fade-leave-to {
     opacity: 0;
 }
</style>
