<template>
    <div v-show="!formFilling">
        <p><b>User:</b> {{ name }}</p>
    </div>
</template>

<script>
 import { mapGetters, mapState } from 'vuex'

 export default {
     name: 'Info',
     computed: {
         ...mapState({
             name: state => state.user.name,
             formFilling: state => state.user.edit,
         }),
     },
     data() {
         return {};
     },
 };
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
div {
    text-align: center;
 }
</style>
