<template>
    <div>
        <transition name="fade">
            <semipolar-spinner
                v-show="!videoUp"
                :animation-duration="2000"
                :size="65"
                color="#612940"
            />
        </transition>
        <transition name="fade">
            <p v-show="!videoUp">Please give us your webcam</p>
        </transition>
        <transition name="fade">
            <div v-show="videoUp && !wasmStart">
                <looping-rhombuses-spinner
                    :animation-duration="2500"
                    :rhombus-size="15"
                    color="#612940"
                />
                <p>Loading up face replacer</p>
            </div>
        </transition>
        <transition name="fade">
            <div v-show="videoUp && wasmStart">
                <hollow-dots-spinner
                    :animation-duration="1000"
                    :dot-size="15"
                    :dots-num="3"
                    color="#612940"
                />
                <p>Getting up face replacement</p>
            </div>
        </transition>
    </div>
</template>

<script>
 import { HollowDotsSpinner, SemipolarSpinner, LoopingRhombusesSpinner } from 'epic-spinners'
 import { mapGetters, mapState } from 'vuex'
 import cow from '../constants';

 export default {
     name: 'Form',
     components: {
         HollowDotsSpinner,
         SemipolarSpinner,
         LoopingRhombusesSpinner,
     },
     computed: {
         ...mapState({
             videoUp: state => state.video.videoApproved,
             wasmStart: state => state.video.wasmUp,
             faceUp: state => state.video.wasmRunning,
         }),
     },
     data() {
         return {};
     },
 };
</script>

<style scoped>
 div {
     text-align: center;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
 }
 .fade-enter-active, .fade-leave-active {
     transition: opacity .5s;
 }
 .fade-enter, .fade-leave-to {
     opacity: 0;
 }
</style>
