<template>
    <div class="title">
        <h1>{{ title }}</h1>
    </div>
</template>

<script>
 export default {
     name: 'Title',
     data() {
         return {
             title: 'Celebraphone',
         };
     },
 };
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
 .title {
     text-align: center;
 }
</style>
