<template>
    <div id="app">
        <Title />
        <Face />
        <Loading />
        <Info />
        <Form />
        <Credits />
    </div>
</template>

<script>
 import Credits from './components/Credits';
 import Loading from './components/Loading';
 import Face from './components/Face';
 import Form from './components/Form';
 import Info from './components/Info';
 import Title from './components/Title';

 export default {
     name: 'app',
     components: {
         Title,
         Loading,
         Face,
         Info,
         Form,
         Credits,
     },
 };
</script>

<style>
 @import url('https://fonts.googleapis.com/css?family=Fredoka+One|Open+Sans');

 html {
     background-color: #7C809B;
 }

 h1, h2, h3 {
     font-family: 'Fredoka One', cursive;
     color: #612940;
 }

 p, li {
     font-family: 'Open Sans', sans-serif;
 }

 h1 {
     font-size: 2.5em;
     padding: .5em;
 }

 #app {
     -webkit-font-smoothing: antialiased;
     -moz-osx-font-smoothing: grayscale;
 }
</style>
